.contactUs {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    /* min-height: 80vh; */
}

.header {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.headerDescription {
    width: 55%;
    margin: 0 auto;
    font-family: "Inter";
    margin-top: 10px;
    line-height: 1.6em;
    opacity: .8;
}

.container {
    width: 470px;
    /* border: 1px solid rgb(216, 216, 216); */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    margin-bottom: 25px;
}

.inputContainer:nth-child(3) {
    margin-bottom: 0px;
}

.label {
    font-family:  "Inter";
    font-size: 14px;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 10px;
    font-family: "Inter";
    margin-top: 10px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
}

.textarea {
    width: 100%;
    padding: 10px;
    font-family: "Inter";
    margin-top: 10px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    min-height: 150px;
}

.sendButton {
    padding: 15px;
    background-color: black;
    border: none;
    font-family: "Inter";
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.thankYou {
    font-family: "Inter";
    font-size: 14px;
    letter-spacing: -0.2px;
    padding-top: 15px;
    width: 70%;
    margin: 0 auto;
    line-height: 1.4em;
    font-weight: 500;
    text-align: center;
}

.disableButton {
    padding: 15px;
    background-color: black;
    border: none;
    font-family: "Inter";
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    opacity: .5;
}

@media all and (max-width:500px) {
    .container {
        width: 350px;
    }

    .headerDescription {
        width: 90%;
    }
}




.logo {
    width: 80px;
  }
  


.footerContent {
    padding: 80px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center; 
    margin: 0 auto;
  }
  
  .footerContentDescription {
    padding-top: 20px;
    line-height: 1.6em;
    font-size: 18px;
    opacity: .8;
  }
  
  .footerTitle {
    font-family: "Inter";
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 700;
    width: 90%;
    line-height: 1.2em;
  }
  
  .footerImage {
    width: 100%;
    border-radius: 70px;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    color: black;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 70px;
    margin-top: 20px;
    padding-bottom: 100px;
    background-color: rgb(246, 246, 246);
    padding-top: 40px;
  }
   
  .socialMediaIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .footerLogo {
    font-family: "Rogerex";
    font-size: 20px;
  }
  
  .footerDescription {
    font-family: "Inter";
    opacity: .6;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .footerRightText {
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: "Inter";
    margin-bottom: 10px;
    opacity: .6;
    text-transform: uppercase;
  }
  
  @media all and (max-width:1200px) {
    .footerCallToAction {
      border-radius: 0px;
    }
  
    .footerContent {
      width: 85%;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: initial;
      margin: 0;
    }
  
    .headerContainer {
      display: flex;
      flex-direction: column;
      /* display: none; */
      min-height: 80vh;
      padding: 40px 0;
    }
  
    .headerLeft {
      width: 100%;
      justify-content: center;
      min-height: 80vh;
    }
  
    .image {
      position: absolute;
      bottom: -30%;
      align-self: center;
      justify-self: center;
      margin: 0 auto;
      left: 0%;
      width: 70%;
      display: none;
    }
  
    .benefit {
      flex-direction:column;
      width: 100%;
      align-items: flex-start;
    }
  
    .benefitLeft {
      width: 100%;
    }
  
    .benefitLeftDescription {
      width: 100%;
    }
  
    .title {
      width: 80%;
    }
  
    .description {
      width: 80%;
    }
  
    .benefitImage {
      /* width: 50%; */
    }
  
    .buttons {
      /*  */
    }
  
    .iosDownloadButton {
      /*  */
    }
  }
  
  @media all and (max-width:900px) {
    .buttonText {
      font-size: 15px;
    }
  
    .benefitImage {
      width: 50%;
    }
  
    .footerTitle {
      font-size: 32px;
    }
  
    .footerContent {
      width: 100%;
      padding: 60px 40px;
    }
  
    .downloadImage {
      width: 30%;
    }
  
    .benefitLeftTitle {
      width: 100%;
    }
  
    .benefitLeft {
      width: 100%;
      margin-top: 20px;
    }
  
    .title {
      width: 100%;
      font-size: 40px;
    }
  
    .description {
      width: 100%;
    }
  }
  
  @media all and (max-width:500px) {
    .header { 
      padding: 0px 30px;
    }
  
  .benefitsContainer {
    padding: 20px 40px;
  }
  
    .buttons {
      flex-direction: column;
    }
  
    .downloadImage {
      width: 50%;
    }
  
    .androidDownloadButton {
      margin-left: 0px;
      align-items: center;
      justify-content: center;
    }
  
    .iosDownloadButton {
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .benefitImage {
      width: 100%;
    }
  
    .benefitLeft {
      padding-left: 0px;
    }
  }


  .privacy__links {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  /* .circle {
    height: 15px;
    width: 3px;
    background-color: rgb(72, 72, 72);
  } */
  
  .terms {
    font-family: "Inter";
    font-size: 14px;
    margin-top: 14px;
    color: rgb(72, 72, 72);
    display: inline-block;
    text-decoration: underline;
    margin-right: 5px;
  }
  