.container {
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: white;
  /* background-image: linear-gradient(to right, rgb(19, 19, 19) , black); */
}

.header {
  /* position: relative; */
  max-width: 1600px;
  margin: 0 auto;
  /* min-height: 80vh; */
  padding: 0px 100px;
  width: 95%;
  position: relative;
  overflow: hidden;
  background-color: rgb(246, 246, 246);
  /* margin-top: 20px; */
}

.benefitsHeader {
  text-align: center;
  padding-top: 100px;
}

.logo {
  width: 80px;
}

.headerContainer {
  color: black;
  /* background-color: red; */
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* background-color: red; */
}

.headerLeft {
  /*  */
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-weight: 700;
  letter-spacing: -0.8px;
  font-size: 55px;
  width: 100%;
  line-height: 1.3em;
  font-family: "Plus Jakarta Sans";
  /* font-family: "Plus Jakarta Sans"; */
  /* font-family: "Plus Jakarta Sans"; */
}

.welcomeText {
  margin-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  opacity: .8;
  font-weight: 500;
}

.greenUnderline {
  /* border-bottom: 5px solid #198860; */
  /* font-family: "Rogerex" !important; */
  /* border-bottom-style:dashed; */
}

.description {
  padding: 20px 0;
  font-size: 16px;
  width: 90%;
  line-height: 2em;
  /* font-family: "Plus Jakarta Sans"; */
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}

.buttons {
  margin-top: 10px;
  display: flex;
}

.iosDownloadButton {
  padding: 17px 40px;
  border: none;
  border-radius: 5px;
  background-color: #0f6143;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;

}

/* .icon {
  width: 400px;
  height: 400px;
} */

.androidDownloadButton {
  padding: 17px 25px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2.2px solid black;
  color: black;
  background: transparent;
  position: relative;
  justify-content: center;
}

.androidDownloadButton > p {
  /* color: #116144; */
}

.soon {
  position: absolute;
  top: -40%;
  margin-left: 10px;
  font-size: 13px;
  font-family: "Plus Jakarta Sans";
  color: white;
  opacity: 1;
  text-align: center;

}

.buttons {
  margin-top: 10px;
}

.buttonText {
  font-family: "Plus Jakarta Sans";
  /* font-family: "Plus Jakarta Sans"; */
  font-weight: 600;
  margin-left: 20px;
  font-size: 13px;
}

.supportedLocationsLink {
  margin-top: 15px;
  text-decoration: underline;
  font-size: 15px;
  opacity: .7;
  font-family: "Plus Jakarta Sans";
  cursor: pointer;
}

.headerRight {
  width: 100%;
  height: 100%;

  /* background-color: blue; */
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */

  position: absolute;
  right: "100%";
}

.image {
  /* margin: auto; */
  width: 30%;
  /* position: absolute; */
  /* right: 0%; */
  /* margin-bottom: 70px; */
  z-index: 1;
  /* height: 100%; */
  margin-top: 15px;
}

.benefitsContainer {
  color: black;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 0px;
  padding-top: 0px;
}

.benefit:nth-child(2) {
  margin-top: 30px;
}

.benefit {
 width: 80%;
 padding: 50px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}


.benefit:nth-child(odd) {
  border-bottom: 0.5px solid rgb(234, 234, 234);
  border-top: 0.5px solid rgb(234, 234, 234);

}

.benefit:nth-child(4) {
  border-bottom: 1px solid white;
}

.linkContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: #198860;
}

.linkContainerText {
  color: #198860;
}

.rightIcon {
  width: 17px;
  height: 17px;
  margin-top: 2px;
  margin-left: 4px;
  display: none;
}

.benefitLeftTitle {
  /*  */
  font-size: 40px;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 1.4em;
  width: 90%;
}

.headerLine {
  width: 50px;
  height: 1px;
  background-color: rgb(218, 218, 218);
  margin: 0 auto;
  margin-top: 15px;
}

.buttons {
  margin-top: 25px;
}

.headerButtons {
  margin-top: 25px;
  display: flex;
}

.downloadIcon {
  color: white;
  font-size: 20px;
}

.downloadButton {
  background-color: #0f6143;
  padding: 7px 9px;
  border-radius: 50px;
  margin-right: 10px;
}

.benefitLeft {
  padding-left: 40px;
  width: 50%;
}

.benefitLeft:nth-child(odd) {
  padding-right: 40px;
  margin-right: 50px;
}

.benefitLeftDescription {
  padding-top: 15px;
  font-size: 17px;
  /* width: 80%; */
  line-height: 2em;
  opacity: .8;
  font-family: "Plus Jakarta Sans";
  letter-spacing: 0.2px;
}

.benefitImage {
  width: 30%;
}

.moreToComeText {
  text-align: center;
  color: rgba(0,0,0,0.5);
  font-size: 15px;
  font-style: italic;
  padding-bottom: 60px;
  padding-top: 10px;
}

.label {
  margin-bottom: 0px;
  font-family: "Plus Jakarta Sans";
  color: rgb(104, 104, 104);
  /* background-color: rgb(226, 226, 226); */
  display: inline-block;
  /* padding: 7px 14px; */
  border-radius: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  /* display: none; */
  /* padding-bottom: 5px; */
}

.footerLabel {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: .8;
}

.footerCallToAction {
  /* max-width: 1300px; */
  margin: 0 auto;
  position: relative;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  /* margin-bottom: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin: 50px auto;
  margin-bottom: 200px;
  width: 90%;
  max-width: 1600px;
  /* margin: 0 auto; */
  /* min-height: 80vh; */
  width: 95%;
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
}

.downloadImage {
  width: 30%;
  margin-top: 35px;
margin-right: 20px;
cursor: pointer;
}

.googlePlayImage {
  /* width: 30%; */
  margin-top: 35px;
  margin-right: 20px;
  cursor: pointer;
  /* opacity: .5; */
}


.footerContent {
  padding: 80px;
  width: 50%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  /* text-align: center;  */
  /* margin: 0 auto; */
}

.footerContentDescription {
  padding-top: 20px;
  line-height: 1.8em;
  font-size: 17px;
  opacity: .8;
  letter-spacing: 0.3px;
}

.footerTitle {
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  letter-spacing: -0.2px;
  font-weight: 800;
  width: 100%;
  line-height: 1.2em;
  margin-top: 12px;
  margin-bottom: 2px;
}

.footerImage {
  width: 27%;
  /* border-radius: 70px; */
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  color: black;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 70px;
  margin-top: 20px;
  padding-bottom: 100px;
  background-color: rgb(246, 246, 246);
  padding-top: 40px;
}


 
.socialMediaIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.footerLogo {
  font-family: "Rogerex";
  font-size: 20px;
}

.footerDescription {
  font-family: "Plus Jakarta Sans";
  opacity: .6;
  font-size: 14px;
  margin-top: 10px;
}

.footerRightText {
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  margin-bottom: 10px;
  opacity: .6;
  text-transform: uppercase;
}

.privacy__links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* .circle {
  height: 15px;
  width: 3px;
  background-color: rgb(72, 72, 72);
} */

.terms {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  margin-top: 14px;
  color: rgb(72, 72, 72);
  display: inline-block;
  text-decoration: underline;
  margin-right: 5px;
}

@media all and (max-width:1200px) {
  .footerCallToAction {
    border-radius: 0px;
  }

  .footerContent {
    width: 85%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: initial;
    margin: 0;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    /* display: none; */
    min-height: 80vh;
    padding: 40px 0;
  }

  .headerLeft {
    width: 100%;
    justify-content: center;
    min-height: 80vh;
  }

  .image {
    position: absolute;
    bottom: -30%;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    left: 0%;
    width: 70%;
    display: none !important;
  }

  .benefit {
    flex-direction:column;
    width: 100%;
    align-items: flex-start;
  }

  .benefitLeft {
    width: 100%;
  }

  .benefitLeftDescription {
    width: 100%;
  }

  .title {
    width: 80%;
  }

  .description {
    width: 80%;
  }

  .benefitImage {
    /* width: 50%; */
  }

  .buttons {
    /*  */
  }

  .iosDownloadButton {
    /*  */
  }
}

@media all and (max-width:900px) {
  .buttonText {
    font-size: 15px;
  }

  .footerCallToAction {
    flex-direction: column;
    padding: 80px 0;
    width: 100%;
  }

  .footerContent {
    width: 100%;
    padding: 70px 30px;
  }

  .footerImage {
    display: none;
  }

  .footerContentDescription {
    font-size: 16px;
    line-height: 32px;
  }

  .footerTitle {
    font-size: 50px !important;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .benefitImage {
    width: 50%;
  }

  .footerTitle {
    /* font-size: 32px; */
  }


  .downloadImage {
    width: 20%;
  }

  .googlePlayImage {
    width: 20%;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  

  .benefitLeftTitle {
    width: 100%;
  }

  .benefitLeft {
    width: 100%;
    margin-top: 20px;
  }

  .title {
    width: 100%;
    font-size: 40px;
  }

  .description {
    width: 100%;
  }
}

@media all and (max-width:500px) {
  .header { 
    padding: 0px 30px;
  }

.benefitsContainer {
  padding: 20px 40px;
}

  /* .buttons {
    flex-direction: column;
  } */

  .headerButtons {
    flex-direction: column;
    width: 100%;
  }


  .downloadImage {
    width: 50%;
  }

  .googlePlayImage {
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .androidDownloadButton {
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .iosDownloadButton {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .benefitImage {
    width: 100%;
  }

  .benefitLeft {
    padding-left: 0px;
  }
}

