.container {
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: rgb(15, 15, 15);
  /* background-image: linear-gradient(to right, rgb(19, 19, 19) , black); */
}

.header {
  /* position: relative; */
  max-width: 1600px;
  margin: 0 auto;
  /* min-height: 80vh; */
  padding: 0px 70px;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 80px;
}

.headerContainer {
  color: white;
  /* background-color: red; */
  min-height: 103vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
}

.headerLeft {
  /*  */
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-family: "Inter" !important;
  font-weight: 800;
  letter-spacing: -0.9px;
  font-size: 45px;
  width: 100%;
  line-height: 1.2em;
  font-family: "Inter";
  /* font-family: "Inter"; */
}

.greenUnderline {
  border-bottom: 5px solid #198860;
  /* font-family: "Rogerex" !important; */
  /* border-bottom-style:dashed; */
}

.description {
  padding: 20px 0;
  font-size: 18px;
  width: 90%;
  line-height: 1.8em;
  opacity: .6;
  font-family: "Inter";
  /* font-family: "Plus Jakarta Sans"; */
}

.buttons {
  margin-top: 10px;
  display: flex;
}

.iosDownloadButton {
  padding: 17px 30px;
  border: none;
  border-radius: 5px;
  background-color: #198860;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.androidDownloadButton {
  padding: 17px 30px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

.buttons {
  margin-top: 10px;
}

.buttonText {
  /* font-family: "Plus Jakarta Sans"; */
  font-family: "Inter";
  font-weight: 600;
  margin-left: 10px;
}

.supportedLocationsLink {
  margin-top: 15px;
  text-decoration: underline;
  font-size: 15px;
  opacity: .7;
  font-family: "Inter";
  cursor: pointer;
}

.headerRight {
  width: 100%;
  height: 100%;

  /* background-color: blue; */
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */

  position: absolute;
  right: "100%";
}

.image {
  /* margin: auto; */
  width: 50%;
  position: absolute;
  right: 0%;
  /* margin-bottom: 70px; */
  z-index: 1;
  /* height: 100%; */
  margin-top: 15px;
}

.benefitsContainer {
  color: black;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 70px;
}

.benefit {
  /* height: 250px; */
  width: 80%;
  margin: 60px auto 60px auto; 
  align-items: center;
  /* justify-content: center; */
  display: flex;
  justify-content: center;
}

.linkContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: #198860;
}

.linkContainerText {
  color: #198860;
}

.rightIcon {
  width: 17px;
  height: 17px;
  margin-top: 2px;
  margin-left: 4px;
  display: none;
}

.benefitLeftTitle {
  /*  */
  font-size: 35px;
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3em;
  width: 80%;
}

.benefitLeft {
  padding-left: 40px;
  width: 50%;
}

.benefitLeftDescription {
  padding-top: 15px;
  font-size: 17px;
  /* width: 80%; */
  line-height: 1.6em;
  opacity: .8;
  font-family: "Inter";
  letter-spacing: -0.3px;
}

.benefitImage {
  width: 30%;
}

.label {
  margin-bottom: 15px;
  font-family: "Inter";
  opacity: .5;
  border-bottom: 1px solid grey;
  width: 12px;
  font-size: 18px;
  padding-bottom: 5px;
}

.footerCallToAction {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  color: white;
  background-color: rgb(22, 22, 22);
  border-radius: 30px;
  margin-bottom: 100px;
}

.downloadImage {
  width: 22%;
  margin-top: 20px;
margin-right: 20px;
cursor: pointer;
}

.footerContent {
  padding: 80px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center; 
  margin: 0 auto;
}

.footerContentDescription {
  padding-top: 20px;
  line-height: 1.6em;
  font-size: 18px;
  opacity: .8;
}

.footerTitle {
  font-family: "Inter";
  font-size: 40px;
  letter-spacing: -0.5px;
  font-weight: 700;
  width: 90%;
  line-height: 1.2em;
}

.footerImage {
  width: 100%;
  border-radius: 70px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  color: black;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 70px;
  margin-top: 20px;
  padding-bottom: 100px;
  background-color: rgb(246, 246, 246);
  padding-top: 40px;
}
 
.socialMediaIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.footerLogo {
  font-family: "Rogerex";
  font-size: 20px;
}

.footerDescription {
  font-family: "Inter";
  opacity: .6;
  font-size: 14px;
  margin-top: 10px;
}

.footerRightText {
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: "Inter";
  margin-bottom: 10px;
  opacity: .6;
  text-transform: uppercase;
}

@media all and (max-width:1200px) {
  .footerCallToAction {
    border-radius: 0px;
  }

  .footerContent {
    width: 85%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: initial;
    margin: 0;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    /* display: none; */
    min-height: 80vh;
    padding: 40px 0;
  }

  .headerLeft {
    width: 100%;
    justify-content: center;
    min-height: 80vh;
  }

  .image {
    position: absolute;
    bottom: -30%;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    left: 0%;
    width: 70%;
    display: none;
  }

  .benefit {
    flex-direction:column;
    width: 100%;
    align-items: flex-start;
  }

  .benefitLeft {
    width: 100%;
  }

  .benefitLeftDescription {
    width: 100%;
  }

  .title {
    width: 80%;
  }

  .description {
    width: 80%;
  }

  .benefitImage {
    /* width: 50%; */
  }

  .buttons {
    /*  */
  }

  .iosDownloadButton {
    /*  */
  }
}

@media all and (max-width:900px) {
  .buttonText {
    font-size: 15px;
  }

  .benefitImage {
    width: 50%;
  }

  .footerTitle {
    font-size: 32px;
  }

  .footerContent {
    width: 100%;
    padding: 60px 40px;
  }

  .downloadImage {
    width: 30%;
  }

  .benefitLeftTitle {
    width: 100%;
  }

  .benefitLeft {
    width: 100%;
    margin-top: 20px;
  }

  .title {
    width: 100%;
    font-size: 40px;
  }

  .description {
    width: 100%;
  }
}

@media all and (max-width:500px) {
  .header { 
    padding: 0px 30px;
  }

.benefitsContainer {
  padding: 20px 40px;
}

  .buttons {
    flex-direction: column;
  }

  .downloadImage {
    width: 50%;
  }

  .androidDownloadButton {
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .iosDownloadButton {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .benefitImage {
    width: 100%;
  }

  .benefitLeft {
    padding-left: 0px;
  }
}