.waitlistContent {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.waitlistContainer {
    max-width: 600px;
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
}

.waitlistContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.waitlistTitle {
    font-size: 35px;
    font-family: "Plus Jakarta Sans";
    letter-spacing: -0.8px;
}

.waitlistDescription {
    padding: 12px 0;
    font-family: "Plus Jakarta Sans";
    line-height: 1.7em;
    text-align: center;
    font-size: 17px;
    letter-spacing: -0.2px;
}

.waitlistForm {
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.104);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.inputContainer:nth-child(3) {
    padding-bottom: 0px;
}

.inputLabel {
    font-size: 14px;
    font-family: "Plus Jakarta Sans";
    letter-spacing: -0.2px;
    font-weight: 500;
    margin-bottom: 4px;
}

.input {
    padding: 15px;
    font-family: "Plus Jakarta Sans";
    border: 1.5px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.026);
}

.input:focus {
    border: 1.5px solid rgb(149, 149, 149);
    outline: none;
}

.placeholder {
    font-size: 14px;
    color: rgb(100, 100, 100);
    padding-top: 5px;
    line-height: 1.4em;
    /* font-style: italic; */
}

.joinButton {
    width: 100%;
    background-color: black;
    font-weight: 500;
    cursor: pointer;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans";
    letter-spacing: -0.1px;
    margin-top: 25px;
}

.loadingJoinButton {
    width: 100%;
    background-color: black;
    font-weight: 500;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans";
    letter-spacing: -0.1px;
    margin-top: 25px;
    user-select: none;
    opacity: 0.5;
}

.errorMessage {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    color: red;
    margin-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0,0.7);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    z-index: 20;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    max-width: 470px;
    position: relative;
}

.waitlistImage {
    width: 12%;
}

.waitlistModalTitle {
    font-size: 22px;
    letter-spacing: -0.7px;
    margin-top: 20px;
}

.waitlistModalDescription {
    padding: 10px 0;
    width: 80%;
    text-align: center;
    font-size: 17px;
    line-height: 1.4em;
    opacity: .7;
    letter-spacing: -0.1px;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}


.privacy__links {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  /* .circle {
    height: 15px;
    width: 3px;
    background-color: rgb(72, 72, 72);
  } */
  
  .terms {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    margin-top: 14px;
    color: rgb(72, 72, 72);
    display: inline-block;
    text-decoration: underline;
    margin-right: 5px;
  }

  

.logo {
    width: 80px;
  }
  


.footerContent {
    padding: 80px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center; 
    margin: 0 auto;
  }
  
  .footerContentDescription {
    padding-top: 20px;
    line-height: 1.6em;
    font-size: 18px;
    opacity: .8;
  }
  
  .footerTitle {
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 700;
    width: 90%;
    line-height: 1.2em;
  }
  
  .footerImage {
    width: 100%;
    border-radius: 70px;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    color: black;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 70px;
    margin-top: 20px;
    padding-bottom: 100px;
    background-color: rgb(246, 246, 246);
    padding-top: 40px;
  }
   
  .socialMediaIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .footerLogo {
    font-family: "Rogerex";
    font-size: 20px;
  }
  
  .footerDescription {
    font-family: "Plus Jakarta Sans";
    opacity: .6;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .footerRightText {
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    margin-bottom: 10px;
    opacity: .6;
    text-transform: uppercase;
  }
  
  @media all and (max-width:1200px) {
    .footerCallToAction {
      border-radius: 0px;
    }
  
    .footerContent {
      width: 85%;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: initial;
      margin: 0;
    }
  
    .headerContainer {
      display: flex;
      flex-direction: column;
      /* display: none; */
      min-height: 80vh;
      padding: 40px 0;
    }
  
    .headerLeft {
      width: 100%;
      justify-content: center;
      min-height: 80vh;
    }
  
    .image {
      position: absolute;
      bottom: -30%;
      align-self: center;
      justify-self: center;
      margin: 0 auto;
      left: 0%;
      width: 70%;
      display: none;
    }
  
    .benefit {
      flex-direction:column;
      width: 100%;
      align-items: flex-start;
    }
  
    .benefitLeft {
      width: 100%;
    }
  
    .benefitLeftDescription {
      width: 100%;
    }
  
    .title {
      width: 80%;
    }
  
    .description {
      width: 80%;
    }
  
    .benefitImage {
      /* width: 50%; */
    }
  
    .buttons {
      /*  */
    }
  
    .iosDownloadButton {
      /*  */
    }
  }
  
  @media all and (max-width:900px) {
    .buttonText {
      font-size: 15px;
    }
  
    .benefitImage {
      width: 50%;
    }
  
    .footerTitle {
      font-size: 32px;
    }
  
    .footerContent {
      width: 100%;
      padding: 60px 40px;
    }
  
    .downloadImage {
      width: 30%;
    }
  
    .benefitLeftTitle {
      width: 100%;
    }
  
    .benefitLeft {
      width: 100%;
      margin-top: 20px;
    }
  
    .title {
      width: 100%;
      font-size: 40px;
    }
  
    .description {
      width: 100%;
    }
  }
  
  @media all and (max-width:500px) {
    .header { 
      padding: 0px 30px;
    }
  
  .benefitsContainer {
    padding: 20px 40px;
  }
  
    .buttons {
      flex-direction: column;
    }
  
    .downloadImage {
      width: 50%;
    }
  
    .androidDownloadButton {
      margin-left: 0px;
      align-items: center;
      justify-content: center;
    }
  
    .iosDownloadButton {
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .benefitImage {
      width: 100%;
    }
  
    .benefitLeft {
      padding-left: 0px;
    }
  }


  .privacy__links {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  /* .circle {
    height: 15px;
    width: 3px;
    background-color: rgb(72, 72, 72);
  } */
  
  .terms {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    margin-top: 14px;
    color: rgb(72, 72, 72);
    display: inline-block;
    text-decoration: underline;
    margin-right: 5px;
  }
  