.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    z-index: 200000;
    width: 100%;
    border-bottom: 1px solid rgb(247, 247, 247);
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.logo {
    font-family: "Rogerex";
    font-size: 50;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.logo {
    width: 80px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.links {
    display: flex;
    width: 100%;
    /* background-color: red; */
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: 50px; */
}

.link {
    opacity: .9;
    margin-right: 30px;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    cursor: pointer;
    color: black ;
    font-weight: 500;
}

.link:hover {
    border-bottom: 2px solid black;
}


.middleLinks {
    margin-left: 100px;
    display: flex;
}

.dropdownLinkText {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}

.linkText {
    cursor: pointer;
}

.menuIcon {
    display: none !important;
    /* margin-left: 30px !important; */
}

.waitlistButton {
    display: none;
}

.navbarLeftMain {
    display: flex;
    align-items: center;
}

.waitlistButtonText {
    margin-right: 10px;
    font-weight: 600;
}

.waitlistIcon {
    margin-top: 1px;
    font-size: 17px;
}

.waitlistButtonNavbar {
    background-color: white;
    color: black;
    padding: 15px 0px;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

@media all and (max-width: 400px) {
    .menuIcon {
        /* display: none !important; */
        margin-left: 30px !important;
    }
    
}

@media all and (max-width: 600px) {
    .link {
        font-size: 14px;
    }
}


@media all and (max-width: 500px) {
    .waitlistButtonNavbar {
        display: none;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        align-items: center;
        justify-content: center;
    }

    .links {
        margin-left: 0px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .menuIcon {
        display: block !important;
        cursor: pointer;
    }


.navbarLeft {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

    .logo {
        align-self: center !important;
        justify-self: center;
    }

    .navbarLeftMain {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 140px;
    }

    .waitlistButton {
        background-color: white;
        color: black;
        padding: 10px;
        font-family: "Plus Jakarta Sans";
        font-size: 13px;
        font-weight: 500;
        border-radius: 50px;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
    }

    .closeIcon {
        width: 25px;
        height: 25px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .rightArrow {
        width: 20px;
    }

    .navbarDropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 35px 25px;
        background-color: white;
        color: black;
        z-index: 20;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.044);
    }

    .dropdownLink {
        cursor: pointer;
    }

    .dropdownLinkContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .dropdownLinkContainer:hover {
        background-color: rgba(0, 0, 0, 0.035);
    }

    .dropdownLinkText {
        font-family: "Plus Jakarta Sans";
        font-size: 15px;
        font-weight: 500;
        padding: 15px;
        border-radius: 5px;
    }

    .dropdownLinkText:hover {
    }
}