.navbar {
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    z-index: 200000;
    background-color: rgb(15, 15, 15);
    width: 100%;
    color: white;
}

.logo {
    font-family: "Rogerex";
    font-size: 50;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.logo {
    width: 80px;
}

.links {
    display: flex;
    /* width: 350px; */
    /* background-color: red; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    align-items: center;
    margin-left: 50px;
}

.link {
    opacity: .9;
    margin-right: 30px;
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
    color: white !important;
}

.linkText {
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        align-items: center;
    }

    .links {
        margin-left: 0px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
    }

}