.supportedLocations {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 70px;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.searchInput {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgb(209, 209, 209);
    padding: 12px 15px;
    padding-left: 15px;
    width: 500px;
    border-radius: 50px;
}

.searchInput:hover {
    border: 1px solid rgb(192, 192, 192);

}

.searchIcon {
    width: 35px;
    height: 35px;
    background-color: black;
    padding: 8px;
    border-radius: 50px;
    margin-right: 10px;
}

.input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Inter";
    width: 100%;
    padding-right: 10px;
}

.headerText {
    font-family: "Inter";
    font-size: 26px;
    letter-spacing: -0.4px;
}

.locations {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    /* background-color: black; */
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.location {
    width: 100%;
    padding: 0px 0px;
    /* padding-top: 25px; */
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.locationHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    width: 50%;
    margin: 25px 0;
    margin-bottom:35px;
}

.flagIcon {
    height: 30px;
    /* margin-right: 10px; */
}

.locationLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.locationRight {
    padding-bottom: 20px;
}

.circle {
    height: 5px;
    width: 5px;
    background-color: black;
    opacity: .3;
    margin: 0px 10px;
    border-radius: 50%;
}

.locationsCount {
    opacity: .6;
}

.locationTitle {
    font-size: 20px;
}

.emptySearch {
    opacity: .6;
    text-align: center;
}

.noSupportedCountries {
    opacity: .8;
    font-size: 17px;
    width: 60%;
    text-align: center;
    line-height: 1.7em;
}

.contactButton {
    border-radius: 30px;
    padding: 12px 24px;
    background-color: black;
    border: none;
    color: white;
    font-family: "Inter";
    margin-top: 15px;
}

.downArrow {
    width: 17px;
    height: 17px;
}

.locationInfo {
    margin-top: 25px;
}

.locationImage {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.locationListName {
    margin-bottom: 15px;
    font-size: 18px;
}

.textContent {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.comingSoonText {
    font-family: "Inter";
    font-size: 12px;
    text-transform: uppercase;
    background-color: #19885f2e;
    padding: 5px;
    color: #19885f;
    border-radius: 5px;
}

@media all and (max-width:900px) {
    .location {
        width: 100%;
    }

    .locations {
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:500px) {
    .searchInput {
        width: 350px;
    }

    .locations {
        grid-template-columns: repeat(1,1fr);
    }

    /*  */
    .supportedLocations {
        padding: 30px 20px;
    }


    .locationTitle {
        font-size: 15px;
    }

    .locationsCount {
        font-size: 14px;
    }

    .locationListName {
        font-size: 16px;
    }

    .textContent {
        display: flex;  
        flex-direction: column;
        align-items: flex-start;
    }

    .circle {
        display: none;
    }

    .locationsCount {
        margin-top: 5px;
    }
}