.supportedLocations {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 70px;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.searchInput {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgb(209, 209, 209);
    padding: 12px 15px;
    padding-left: 15px;
    width: 500px;
    border-radius: 50px;
}

.searchInput:hover {
    border: 1px solid rgb(192, 192, 192);

}

.searchIcon {
    width: 35px;
    height: 35px;
    background-color: black;
    padding: 8px;
    border-radius: 50px;
    margin-right: 10px;
}

.input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Plus Jakarta Sans";
    width: 100%;
    padding-right: 10px;
}

.headerText {
    font-family: "Plus Jakarta Sans";
    font-size: 26px;
    letter-spacing: -0.4px;
}

.locations {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    /* background-color: black; */
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.location {
    width: 100%;
    padding: 0px 0px;
    /* padding-top: 25px; */
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.locationHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    width: 50%;
    margin: 25px 0;
    margin-bottom:35px;
}

.flagIcon {
    height: 30px;
    /* margin-right: 10px; */
}

.locationLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.locationRight {
    padding-bottom: 20px;
}

.circle {
    height: 5px;
    width: 5px;
    background-color: black;
    opacity: .3;
    margin: 0px 10px;
    border-radius: 50%;
}

.locationsCount {
    opacity: .6;
}

.locationTitle {
    font-size: 20px;
}

.emptySearch {
    opacity: .6;
    text-align: center;
}

.noSupportedCountries {
    opacity: .8;
    font-size: 17px;
    width: 60%;
    text-align: center;
    line-height: 1.7em;
}

.contactButton {
    border-radius: 30px;
    padding: 12px 24px;
    background-color: black;
    border: none;
    color: white;
    font-family: "Plus Jakarta Sans";
    margin-top: 15px;
}

.downArrow {
    width: 17px;
    height: 17px;
}

.locationInfo {
    margin-top: 25px;
}

.locationImage {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.locationListName {
    margin-bottom: 15px;
    font-size: 18px;
}

.textContent {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.comingSoonText {
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    text-transform: uppercase;
    background-color: #19885f2e;
    padding: 5px;
    color: #19885f;
    border-radius: 5px;
}

@media all and (max-width:900px) {
    .location {
        width: 100%;
    }

    .locations {
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:500px) {
    .searchInput {
        width: 350px;
    }

    .locations {
        grid-template-columns: repeat(1,1fr);
    }

    /*  */
    .supportedLocations {
        padding: 30px 20px;
    }


    .locationTitle {
        font-size: 15px;
    }

    .locationsCount {
        font-size: 14px;
    }

    .locationListName {
        font-size: 16px;
    }

    .textContent {
        display: flex;  
        flex-direction: column;
        align-items: flex-start;
    }

    .circle {
        display: none;
    }

    .locationsCount {
        margin-top: 5px;
    }
}



.logo {
    width: 80px;
  }
  


.footerContent {
    padding: 80px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center; 
    margin: 0 auto;
  }
  
  .footerContentDescription {
    padding-top: 20px;
    line-height: 1.6em;
    font-size: 18px;
    opacity: .8;
  }
  
  .footerTitle {
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 700;
    width: 90%;
    line-height: 1.2em;
  }
  
  .footerImage {
    width: 100%;
    border-radius: 70px;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    color: black;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 70px;
    margin-top: 20px;
    padding-bottom: 100px;
    background-color: rgb(246, 246, 246);
    padding-top: 40px;
  }
   
  .socialMediaIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .footerLogo {
    font-family: "Rogerex";
    font-size: 20px;
  }
  
  .footerDescription {
    font-family: "Plus Jakarta Sans";
    opacity: .6;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .footerRightText {
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    margin-bottom: 10px;
    opacity: .6;
    text-transform: uppercase;
  }
  
  @media all and (max-width:1200px) {
    .footerCallToAction {
      border-radius: 0px;
    }
  
    .footerContent {
      width: 85%;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: initial;
      margin: 0;
    }
  
    .headerContainer {
      display: flex;
      flex-direction: column;
      /* display: none; */
      min-height: 80vh;
      padding: 40px 0;
    }
  
    .headerLeft {
      width: 100%;
      justify-content: center;
      min-height: 80vh;
    }
  
    .image {
      position: absolute;
      bottom: -30%;
      align-self: center;
      justify-self: center;
      margin: 0 auto;
      left: 0%;
      width: 70%;
      display: none;
    }
  
    .benefit {
      flex-direction:column;
      width: 100%;
      align-items: flex-start;
    }
  
    .benefitLeft {
      width: 100%;
    }
  
    .benefitLeftDescription {
      width: 100%;
    }
  
    .title {
      width: 80%;
    }
  
    .description {
      width: 80%;
    }
  
    .benefitImage {
      /* width: 50%; */
    }
  
    .buttons {
      /*  */
    }
  
    .iosDownloadButton {
      /*  */
    }
  }
  
  @media all and (max-width:900px) {
    .buttonText {
      font-size: 15px;
    }
  
    .benefitImage {
      width: 50%;
    }
  
    .footerTitle {
      font-size: 32px;
    }
  
    .footerContent {
      width: 100%;
      padding: 60px 40px;
    }
  
    .downloadImage {
      width: 30%;
    }
  
    .benefitLeftTitle {
      width: 100%;
    }
  
    .benefitLeft {
      width: 100%;
      margin-top: 20px;
    }
  
    .title {
      width: 100%;
      font-size: 40px;
    }
  
    .description {
      width: 100%;
    }
  }
  
  @media all and (max-width:500px) {
    .header { 
      padding: 0px 30px;
    }
  
  .benefitsContainer {
    padding: 20px 40px;
  }
  
    .buttons {
      flex-direction: column;
    }
  
    .downloadImage {
      width: 50%;
    }
  
    .androidDownloadButton {
      margin-left: 0px;
      align-items: center;
      justify-content: center;
    }
  
    .iosDownloadButton {
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .benefitImage {
      width: 100%;
    }
  
    .benefitLeft {
      padding-left: 0px;
    }
  }


.privacy__links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* .circle {
  height: 15px;
  width: 3px;
  background-color: rgb(72, 72, 72);
} */

.terms {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  margin-top: 14px;
  color: rgb(72, 72, 72);
  display: inline-block;
  text-decoration: underline;
  margin-right: 5px;
}
